<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>pandas library</li>
    <li>many more</li>
</ol>

Data Science Tools:
<table style="width 20%">
<tr>
    <th>Data Science Tools</th>
</tr>
<tr>
    <td>Jupter NoteBook </td>
    <td>jupter light</td>
    <td>Anaconda</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

hours=200/60
print(hours)

3.3333333333333335

<h1>Author</h1>
Safder Ali